.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100vh;
}

.form-item {
  margin-bottom: 16px;
  color: black;
  background-color: #222222;
  padding: 16px;
  border-radius: 20px;
}

.input {
  border: 1px solid #5a5a5a;
  border-radius: 5px;
  padding: 8px;
  margin: 8px 0;
  font-size: 20px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
}

.date-selector {
  margin: 10px auto;
}

.clear-button {
  background-color: grey;
  color: white;
  border: none;
  padding: 8px 16px;
  margin-bottom: 8px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

.add-button {
  background-color: rgb(118, 118, 255);
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

.submit-button {
  background-color: #9dff9d;
  color: rgb(0, 0, 0);
  border: none;
  font-weight: bold;
  padding: 10px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 5px;
}

.title {
  font-size: 30px;
  margin: 10px 0;
  font-weight: bold;
  color: #a4ff4a;
  text-align: center;
}

.cont{
  margin: 1rem;
}