@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');

.icon {
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon {
  width: 40px;
  height: 40px;
  margin: 0 5px;
}

.wrapper {
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: center;
}

.section-container {
  margin-top: 14px;
  padding: 0 24px;
}

.section-title {
  font-size: 18px;
  color: gold;
  background-color: #565555;
  text-align: center;
  font-family: "Goldman", sans-serif;
  padding: 10px;
  border-radius: 10px;
}

.section-description {
  margin-top: 3px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  font-family: "Goldman", sans-serif;
}

.scroll-view{
  // this container  must ensurea middle div is using rest of the space
  // this contains div with class flex-grow and div with class wrapper 
  // flex-grow div will take rest of the space so write css for it
  display: flex;
  flex-direction: column;
  height: 100%;

  .flex-grow{
    flex: 1;
    height: 100%;
  }
}